body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #ffffff;
  margin: 0;
  color: #373a40;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #14213d ;
  color: #ffffff;
  margin: 0;
  padding: 10px 20px;


}

header h1 {
  font-size: 30px;
  margin: 0;
}

header a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
 color: #ffffff;
 
}

.app-container {
  margin: 10px 10%;
}
.toggle-menu {
  background: none;
  border: none;
  
}
.nav-bar li{
 list-style: none;
 margin: 10px
}

.hide-nav{
 display: none;
}
.title-menu{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.title-menu h1{
  flex: 2;

}