.exercises {
    padding: 20px;
}

.exercises h2{
    margin: 0 0 10px 0;
    font-size: 26px;
    color: #fca311;
}

.title-add {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
}
.title-add button{
    background: none;
    color: #14213d;
    font-size: 20px;
    margin-bottom: 5px;
}

.add-exercise {
   
    font-size: 14px;
    height: 30px;
    background-color: #14213d;
    color: #eeeeee;
    font-family: 'Rajdhani', sans-serif;
    border: none;
    font-weight: 700;
}
.exercises ul {
    padding: 0;
}
.exercises ul li {
    list-style:  none;
    border-bottom:1px solid #fca311;
}

.exercises ul li a {
    text-decoration: none;
    color:#000000;
}

.exercises ul li h3 {
    margin-bottom: 0;
}

.exercises ul li p {
    margin-top: 0;
    color: #14213d;
    font-weight: 500;
}


@media only screen and (min-width: 1200px) {
    /* For larger desktop: */
    .exercises h2{
        margin: 0 0 10px 0;
        font-size: 36px;
        color: #fca311;
    }
   }
