.exercises {
    padding: 20px;
}

.exercises h2{
    margin: 0 0 10px 0;;
}

.title-add {
    display: flex;

}

.add-exercise {
    margin: 5px 0 10px 10px;
    font-size: 14px;
    height: 30px;
    background-color: #373a40;
    color: #eeeeee;
    font-family: 'Titillium Web', sans-serif;
    border: none;
    font-weight: 700;
}

.exercises ul li {
    list-style:  none;
}

.exercises ul li h3 {
    margin-bottom: 0;
}

.exercises ul li p {
    margin-top: 0;
}