.sign-up-container {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  background-color: #14213d;
  color: #eeeeee;
  padding-top: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
}

.sign-up-container h2 {
  padding: 10px 0;
  margin: 0;
  font-size: 46px;
  text-align: center;
  color: #ffffff;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}

.sign-up-container input {
  -webkit-appearance: none;
  border: 1px solid #e5e5e5;
  border-radius: 3%;
  font-size: 17px;
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 15px;
}

.sign-up-container form button {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  background-color: #fca311;
  color: #eeeeee;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sign-up-container form button:hover {
  cursor: pointer;
}

.sign-up-container .alert {
  color: brown;
}
